$text-color = $color--black_light;
$link-color = $text-color;
$link-color--active = $color--black;

html, body {
  font-size: $font-size-base;
  line-height: 1.5;
  font-family: $font-base;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;

  {hover-focus-active} {
    color: $link-color--active;
  }

  &, & > * {
    {hover-focus-active} {
      outline: 0;
    }
  }

  p & {
    text-decoration underline

    .bg--dark &,
    .bg--black & {
      color: $color--white;
      text-decoration none
    }
  }
}

.tp-heading {
  &--large {
    font: 500 32px/1.5 $font-accent;
    h1& {
      margin 0
    }
  }
  &--big {
    font: 500 24px/1.33 $font-accent;
    h2& {
      margin 0
    }
  }
  &--medium {
    font: 500 20px/1.2 $font-accent;
  }
  &--small {
    font: 500 16px/1.2 $font-accent;
  }
}
.tp-body {
  &--large {
    font: 32px/1.5 $font-base;
  }
  &--big {
    font: 24px/1.33 $font-base;
  }
  &--medium {
    font: 20px/1.2 $font-base;
  }
  &--base {
    font: 1rem/1.5 $font-base;
  }
  &--small {
    font: 14px/1.43 $font-base;
  }
  &--smaller {
    font: 12px/1.667 $font-base;
  }
}
b, strong {
  font: inherit;
  font-weight: bold;
}
.tp-text {
  for $align in (left right center) {
    &--{$align} {
      text-align: $align;
    }
  }
  &--light {
    color: $color--grey_dark;
  }
  &--lighter {
    color: $color--grey;
  }
  &--lightest {
    opacity: 0.5;
  }
  &--upper {
    text-transform: uppercase;
  }
  &--lower {
    text-transform: lowercase;
  }
  &--truncate {
    truncate();
  }
  &--nowrp {
    white-space: nowrap;
  }
}

p {
  margin: 1em 0;
  no-childs-margin();
  max-width: 50em;
}

table {
  width: 100%;
  color: $color--black_light;

  th {
    padding: 32px 6px;
    text-align: center;
    
  }

  td {
    padding: 12px 6px;

    ^[0].tp-text--center & {
      text-align: center;
    }
  }

  &.striped {
    border-collapse: collapse;
    border: 0;
    thead,
    thead tr {
      background: $color--black_light;
    }
    th {
      background: $color--black_light;
      color: $color--grey_dark;
      font-weight: normal;
    }
    tr:nth-child(even) td {
      background: $color--light;
    }
    tr:nth-child(odd) td {
      padding: 20px 6px;
    }
  }
}

code {
  display block;
  margin: 1em 0 0.5em;

  &:first-child {
    margin-top: 0;
  }
}

button {
  display: inline-block;
  font: $font-size-base/1 $font-base;
  text-transform uppercase;
  text-align center;
  padding: 1em 2em;
  border-radius: 5px;
  background: $color--primary;
  color: #fff;
  border: 0;
  box-shadow: 0 0 20px rgba(#000, 0.1);
  cursor: pointer;
  transition: all 0.3s;

  {hover-focus-active} {
    outline: 0;
    background: darken($color--primary, 10%);
  }
}