.rating {
  padding: 24px;
  height: 100vh;
  overflow-y: auto;

  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }
  &__list {
    no-style-list();
  }
}