.rating {
  padding: 24px;
  height: 100vh;
  overflow-y: auto;

  &__title {
    margin-bottom: 1em;
  }
  &__list {
    no-style-list();
  }
  &__item {
    display: block;
  }
}

.flip-list-enter-active,
.flip-list-leave-active {
  transition: all 1s;
}
.flip-list-enter,
.flip-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.flip-list-move {
  transition: transform 1s;
}