.game {
  background: $color--grey_light;
  size(100%);
  min-height: 100vh;
  flexy(flex-start, stretch);

  &__main {
    flex: 1 1 75%;
    padding: 0 20px;
  }
  &__aside {
    flex: 1 1 25%;
    background #fff;
    display: none;
    box-shadow: 0 0 40px rgba(#000, 0.1);

    @media $display-breakpoints.sm-and-up {
      display: block;
    }
  }

  &__timer {
    padding: 1em;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  &__btns {
    absolute(0px, 0px);
    flexy(center, center);
    size(100%);
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: all .3s ease;
}
.fade-enter-active {
  transition-delay: 0.6s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}